<tr>
    <td>
        DEBATE - $descriptor<br>
        ITEM - $item<br>
        $descriptor.getDisplayName()<br>
        #heteroRadio( $item, $descriptor.getDebates(), "debateClass", true )
    </td>
</tr>