The certificate <a href="/certificate/$item.getCertificate().getDisplayName()/">$item.getCertificate()</a> for <a href="/profile/$item.getProfile().getIdentifier()/">$item.getProfile().getDisplayName()</a> <br/>

<table>

    <thead class="listing" id="validators">
        <tr>
            <th colspan="2" class="header">Validations</th>
        </tr>
    </thead>



</table>


<script type="text/javascript">

    $(function() {
        getValidators();
    });

    maindata = null;

    function getValidators() {
        $.ajax({
            type: "GET",
            url: "getValidations",
            success: function(data, textStatus, jqxhr){maindata = eval(data); nextProfile(maindata.length-1)},
            error: function(ajax, text, error) {alert(error)}
        });
    }

    /*
    function addValidators( data ) {
        //alert(data);
        for( i in data ) {
            //alert(data[i]);
            getProfile(data[i].document.profile, data[i].document.date);
        }
    }

    function getProfile(profile, date) {
        $.ajax({
            type: "GET",
            url: "/profile/" + profile + "/small",
            success: function(data, textStatus, jqxhr){$("#validators").after("<tr><td>" + data + "</td><td>" + date + "</td></tr>");},
            error: function(ajax, text, error) {alert(error)}
        });
    }
    */

    function nextProfile(i) {
        if( i >= 0 ) {
            $.ajax({
                type: "GET",
                url: "/profile/" + maindata[i].document.profile + "/badge",
                success: function(data, textStatus, jqxhr){addProfile(data, maindata[i].document.date); nextProfile(i-1)},
                error: function(ajax, text, error) {alert(error)}
            });
        } else {
            //alert("DONE");
        }
    }

    function addProfile( profile, date ) {
        $("<tr><td>" + profile + "</td><td>" + date + "</td></tr>").hide().insertBefore("#validators").fadeIn(600);
    }

</script>