The certificate <a href="/certificate/$item.getCertificate().getDisplayName()/">$item.getCertificate()</a> for <a href="/profile/$item.getProfile().getIdentifier()/">$item.getProfile().getDisplayName()</a> <br/>

<table>

    <thead class="listing" id="validators">
        <tr>
            <th colspan="2" class="header">Validations</th>
        </tr>
    </thead>



</table>


<script type="text/javascript">

    $(function() {
        getValidators();
    });

    function getValidators() {
        $.ajax({
            type: "GET",
            url: "getValidations",
            success: function(data, textStatus, jqxhr){addValidators(eval(data));},
            error: function(ajax, text, error) {alert(error)}
        });
    }

    function addValidators( data ) {
        //alert(data);
        for( i in data ) {
            //alert(data[i]);
            getProfile(data[i].document.profile, data[i].document.date);
        }
    }

    function getProfile(profile, date) {
        $.ajax({
            type: "GET",
            url: "/profile/" + profile + "/small",
            success: function(data, textStatus, jqxhr){$("#validators").after("<tr><td>" + data + "</td><td>" + date + "</td></tr>");},
            error: function(ajax, text, error) {alert(error)}
        });
    }

</script>