<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF8">

    <link rel="stylesheet" href="/theme/${theme}.css" type="text/css" />

    <!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />-->
    <script src="/static/javascript/jquery/jquery-1.10.2.js"></script>
    <script src="/static/javascript/jquery/jquery-ui-1.10.3.js"></script>

    <!-- <script language="javascript" type="text/javascript" src="/static/javascript/ajaxupload.js"></script> -->
    <script language="javascript" type="text/javascript" src="/static/javascript/dropzone.js"></script>

    <script language="javascript" type="text/javascript" src="/static/javascript/utils.js"></script>



    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    #foreach( $js in $javascripts )
        <script language="javascript" type="text/javascript" src="/static/javascript/$js.js"></script>
    #end

    <title>$title</title>


</head>

<body>

<div style="width: 100%; float: left">



    <div style="text-align: center; width: 1000px; border-style: none; margin : 0 auto">
        <div style="width: 100%;text-align: left; border-bottom-style: solid;height: 50px; margin-bottom: 5px; border-bottom-color: darkblue">
            <img src="/theme/cvdb.png">
        </div>

        <div style="width: 100%; border-style: none; margin-bottom: 5px">
            #if($request.isAuthenticated())
                <a href="/res" class="button">HEJ</a>
            #else
                <a href="" class="button">Sign up</a>
                <a href="/login" class="button">Log in</a>
            #end

        </div>

        <div style="width: 100%; border-style: solid;border-width: 1px; text-align: center">
            $content
        </div>
    </div>




    <div id="footerMenu">
        <div class="wrap">
            Footer
        </div>
    </div>


</div>

</body>

</html>