<table style="border-style: none; width:150px; height: 150px">

    <tr>
        <td style="text-align: center">
            $item.getType()
        </td>
    </tr>

    <tr>
        <td style="; text-align: center">
            <a href="$item.getUrl()"><img src="$item.getPortrait()" style="width: 150px"></a>
        </td>
    </tr>

    <tr>
        <td style="; text-align: center">
            <h4 style="margin: 0px">$item.getDisplayName()</h4>
        </td>
    </tr>
</table>