
#set( $descriptor = $item.getDescriptor() )

#foreach( $action in $item.getLayoutableHavingTemplate( $request.getTheme(), $request.getPlatform(), "top.vm" ) )
<tr>
    <td colspan="2" class="nothing" style=";padding: 0px">
        #render( $action "top" false "" $item true )
    </td>
</tr>
#end

<span align="center" style="font-size: 18px;font-weight: bold">Configuring $item.getDisplayName()</span>

<form action="configurationSubmit" method="post" id="configure" name="configure" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" onsubmit="Utils.addJsonElement( this );">

<table style="width: 100%">
    <tr>
        <!-- Menus -->
        <td style="width: 200px; text-align: center; vertical-align: top">
            <a href="#" class="button enabledButton" onclick="activate('$item.getType()-config', this)">$item.getDescriptor().getDisplayName()</a>
            <a href="#" class="button" onclick="activate('accessConfig', this)">Access</a>

            #foreach( $extensionGroup in $item.getDescriptor().getApplicableExtensions() )
                <a href="#" class="button" onclick="activate('${extensionGroup.getName()}config', this)">$extensionGroup.getName()</a>
            #end
        </td>

        <td style="width: auto; vertical-align: top" name="OUTER">
            <div id="$item.getType()-config" style="display: block" class="configurationDiv">
                <table style="width:100%">
                    <tr>
                        <td>
                            Title
                        </td>
                        <td>
                            <input style="width:100%" type="text" name="title" value="$item.getTitle()" class="configurationDiv">
                        </td>
                    </tr>
                    #render( $item "config" )
                </table>
            </div>

            <div name="access" id="accessConfig" style="display: none; width: 100%" class="configurationDiv targetObject">
                <input type="hidden" name="extension" value="ACL" />
                <table style="width: 100%">
                    #heteroRadio($item $core.getACLs() "accessRadio" "accessConfig" true)
                </table>

            </div>

            <div name="extensions" class="arrayConfiguration">
                #foreach( $extensionGroup in $item.getDescriptor().getApplicableExtensions() )
                    <div id="${extensionGroup.getName()}config" style="display: none" class="configurationDiv">
                        <input type="hidden" name="extension" value="$extensionGroup.getClazz().getName()" />
                            #if($extensionGroup.getType().name() == "one")
                                #set($radio = $extensionGroup.getName() + "Radio")
                                #set($config = $extensionGroup.getName() + "Config")
                                <table style="width: 100%">
                                    #heteroRadio($item $extensionGroup.getDescriptors() $radio $config true)
                                </table>
                            #else
                                WHOOP!
                            #end
                    </div>
                #end

            </div>
        </td>
    </tr>

    <tr>
        <td colspan="2" align="center"><input type="submit" value="Save"></td>
    </tr>
</table>

</form>


<script type="text/javascript">

    var lastConfiguration;
    var lastButton;
    function activate(id, button) {

        var e = document.getElementById(id);
        $(e).show();
        $('.configurationDiv').not("#"+id).hide();

        $('.button').not(button).removeClass('enabledButton');
        $(button).addClass('enabledButton');

    }

</script>
