#foreach( $action in $item.getLayoutableHavingTemplate( $request.getTheme(), $request.getPlatform(), "preResource.vm" ) )
    #render( $action "preResource" false "" $item true )
#end

#menu($item.getMenu())

<table style="width:100%;height: 100%;border-collapse: collapse; max-width: inherit">

    <tbody style="max-width: inherit">

    #foreach( $action in $item.getLayoutableHavingTemplate( $request.getTheme(), $request.getPlatform(), "top.vm" ) )
        <tr>
            <td colspan="2" class="nothing" style=";padding: 0px">
                #render( $action "top" false "" $item true )
            </td>
        </tr>
    #end

    <tr>
        <td style="width:auto; text-align: left" class="headerContrast" colspan="2">
            $item.getDisplayName()

            #if($item.getAuthorization($request.getUser()).canModerate())
               <div style="float: right" class="floatingButton"><a href="configure">Edit</a></div>
            #end
        </td>
    </tr>

    <tr style="max-width: inherit;">
        <td style="width:auto;height: 100%;max-width: inherit;padding: 0px; margin: 0px">
            #render($item "view")

        </td>
        <td style="text-align: center; vertical-align: top">
            #foreach($action in $item.getActions())
                <div class="button">$action.getDisplayName()</div><br />
            #end
        </td>
    </tr>

    <!-- Comments -->
    <tr>
        <td colspan="2" style="width: 100%; text-align: center">

            #comments($item)

        </td>
    </tr>

    <tr>
        <td colspan="2" style="width: 100%; text-align: center;">

            <form id="commentForm" style="min-width: inherit;">
                <input type="text" name="title" style="width: 100%">
                <textarea style="width: 100%" name="comment"></textarea>
                <a href="#" id="commentSubmit" class="button">Send</a>
            </form>

            <script type="text/javascript">
                $( "#commentSubmit" ).click(function() {
                    $.ajax({
                        type: "POST",
                        url: "addComment",
                        data: $("#commentForm").serialize(),
                        success: function(data, textStatus, jqxhr){$('#commentForm')[0].reset();addPost(data)},
                        error: function(ajax, text, error) {alert(error)}
                    });
                });

                function addPost(d) {
                    alert(d);
                    var json = eval(d);
                    alert(json);
                }
            </script>

        </td>
    </tr>


    <tr>
        <td style="width:100%;height: 100%" colspan="3">
            <div style="width: 100%;min-height: 400px" align="center">

                #foreach( $action in $item.getActions() )
                    #render( $action "bottom" )
                #end

                #foreach( $action in $item.getLayoutableHavingTemplate( $request.getTheme(), $request.getPlayform(), "bottom.vm" ) )
                    #renderStatic( $action.getClazz() "bottom" )
                #end

                <!--
                #foreach( $view in $item.getContributingViews( "bottom.vm", $theme ) )
                    #render( $view "bottom" )
                #end
                -->
            </div>
        </td>
    </tr>

    <tr>
        <td style="width:100%;height: 100%;font-size: 9px" class="headerContrast" align="left" colspan="2">
            Created about $dateUtils.getDateString($item.getCreated()) ago
            #if($item.getRevision() > 1)
                , last updated $dateUtils.getDateString($item.getUpdated()) ago
            #end
            . Revision $item.getRevision()
        </td>
    </tr>

    </tbody>

</table>