#set( $collapsedStyle = "" )
#if( !$enabled )
    #set( $collapsedStyle = "display: none" )
#else
    <script type="text/javascript">
        $('form input:checkbox[name|="$descriptor.getId()"]').prop( 'checked', true );
        $('form input:radio[value|="$descriptor.getId()"]').prop( 'checked', 'checked' );
    </script>
#end

#set( $locked = false )

<tr>
    <td style="width:100%" colspan="2">
        <div title="config" style="width:100%" id="$class">
            CLASS= $class
            <input type="hidden" name="class" value="$class" />
            <input type="hidden" name="locked" value="$locked" />
            <table style="width:100%">
                $content
            </table>
        </div>
    </td>
</tr>