<div style="min-width: inherit; min-height: 64px;padding: 5px;text-align: left; border-style: solid" class="widget" id="$item.getIdentifier()">
<img style="float:left; width: 60px; height: 60px; padding-right: 10px" src="$item.getOwner().getPortrait()">
<span class="header" style="clear: both">$item.getDisplayName()</span>, 
$item.getOwner().getDisplayName(), $dateUtils.getDateString($item.getCreated()) ago
<div style="float:right"><a href="#" class="replyable">Reply</a></div>
<br>
$item.getText()<br>


	<div style="min-width: inherit; min-height: 64px;padding: 5px;text-align: center; border-style: solid;margin-top:10px;display:none" class="reply">
		<form class="commentForm" style="min-width: inherit;">
		    <input type="text" name="title" value="Re. $item.getDisplayName()" style="width: 80%">
		    <input type="hidden" name="parent" value="$item.getIdentifier()">
		    <textarea style="width: 80%" name="comment"></textarea><br>
		    <button class="commentSubmit" class="button">Send</button>
		</form>
	</div>
</div>
