<table>

    <tr id="bottom">
        <td>
            bottom
        </td>
    </tr>

</table>

<script type="text/javascript">

    function populate(offset, number) {
        for( i = offset ; i < number + offset ; i++ ) {
            $("<tr><td>" + profile + "</td><td>" + date + "</td></tr>").hide().insertBefore("#bottom").fadeIn(600);
        }
    }
</script>