<script type="text/javascript">
    $(function() {
        $('.upload').ajaxupload({
            url:'/upload/upload',
            chunkSize: 0
        });
    });

</script>

<div class="upload"></div>