<div id="fileupload">
    <form method="post" enctype="multipart/form-data" action="upload">
        <div class="fileupload-buttonbar">
            <label class="fileinput-button">
                <span>Upload</span>
                <input type="file" name="files[]" multiple>
            </label>
        </div>
    </form>
    <div class="fileupload-content">
        <table class="files"></table>
    </div>
</div>

<div id="uploaded">

</div>

<script>
    $(function () {
        $('#fileupload').fileupload({
            dataType: 'json',
            started: function() {
              alert("YEAH");
            },
            added: function() {
                alert("ADDEDYEAH");
            },
            autoUpload: true,
            done: function (e, data) {
                alert(data);
                //$.each(data.result.files, function (index, file) {
                    //$('<p/>').text(file.name).appendTo("#uploaded");
                //});
            }
        });
    });
</script>