<div id="certlist" style="width: 400px">
    <div>
            Certificates
    </div>

    #foreach($c in $item.getCertificates(0,10))
        <div id="row$c.getCertificate().getIdentifier()">
            <h3 style="font-size: 18px; background-color: #998223; font-weight: bold; margin-bottom: 2px">
                <a href="certificates/get/$c.getCertificate().getIdentifier()">$c.getCertificate().getDisplayName()</a>
            </h3>
            <div>
                #set($v = false)
                #set($v = $c.getLastValidation())
                #if($v)
                    Last validated by $v.getProfile().getDisplayName(), $dateUtils.getDateString($v.getDate()) ago
                #else
                    Never validated
                #end
            </div>
            <div>
                #if($request.isAuthenticated() && $request.isUser($item.getParent()))
                    <button type="button" onclick="doRemoveCert(this,'$c.getCertificate().getIdentifier()')">Remove</button>
                #end
                #if($request.isAuthenticated() && !$request.isUser($item.getParent()))
                    <button type="button" onclick="doValidateCert(this,'$c.getCertificate().getIdentifier()')">Validate</button>
                #end
            </div>

        </div>
    #end
</div>

#if($request.isUser($item.getParent()) )
<input name="certificateTitle" type="text" id="addcert" onkeypress="doSubmitCert(event);">
<button type="button" id="submitCert" onclick="sendCert()">Send</button>
#end



<script type="text/javascript">

    function doRemoveCert(obj,id) {
        $.ajax({
            type: "GET",
            url: "certificates/get/" + id + "/remove",
            success: function(data, textStatus, jqxhr){$(obj).hide(400);$("#row"+id).hide(600)},
            error: function(ajax, text, error) {alert(error)}
        });
    }

function doValidateCert(obj,id) {
    $.ajax({
        type: "GET",
        url: "certificates/get/" + id + "/validate",
        success: function(data, textStatus, jqxhr){$(obj).hide(400)},
        error: function(ajax, text, error) {alert(error)}
    });
}

function sendCert() {
    d = $("#addcert").val();
    $.ajax({
        type: "POST",
        url: "certificates/add",
        data: $("#addcert").serialize(),
        //success: addCert($("#addcert").val()),
        success: function(data, textStatus, jqxhr){addCert($("#addcert").val())},
        error: function(ajax, text, error) {alert(error)}
    });

}

function doSubmitCert(e)
{
    e = e || window.event;
    if ($("#addcert").is(":focus") && e.keyCode == 13)
    {
        $('#submitCert').click();
    }
}

function addCert( cert) {
    $('#certlist tr:last').after('<tr><td>' +  cert + '</td></tr>');
}


</script>