html {
    overflow-y: scroll;
}

html, body { height:100%; }

body {
    background-color: #ffffff;
    margin: 0%;
    padding: 0%;
}

#container {
    position:relative; /* needed for footer positioning*/
    margin:0 auto; /* center, not in IE5 */
    border-collapse: collapse;

    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/

    min-height:100%; /* real browsers */

}

#footer {
    position: absolute;
    top: -152px;
    width: 100%;
    z-index: -9999;
}

.wrap {
    position:relative;
    margin:0 auto;
    /*replace 900px with your width*/
    width:1000px;
}

#headerMenu, #footerMenu {
    width:100%;
    float:left;
}

#headerMenu {
    position:fixed;
    z-index:99998;
    /*Making sure it sticks to left of window in IE7*/
    left:0;
    /*Change to reflect height of your header.
    Remember to accomadate for padding!*/
    height:22px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 5px;
    background-color: red;
}

#footerMenu {
    border-style: solid;
    border-width: 0px;
    border-top-width: 5px;

    background-color: red;
    position:fixed;
    bottom:0;
    z-index:999999;
}

.pseudoParent {
    position: relative;
    width: 0;
    height: 0;
    width: 100%;
}

table.listing {
    border-style: solid;
    border-width: 2px;
}

caption.listing {
    font-weight: bold;
    font-size: 18px;
    background-color: #172849;
    color: #a7b7c7;
}

thead.listing {
    font-weight: bold;
    font-size: 14px;
    color: #172849;
}

th.listing {
    padding-left: 10px;
    padding-right: 10px;
    color: #172849;
    border-style: solid;
    border-width: 1px;
}

td.listing {
    padding-left: 5px;
    padding-right: 5px;
}

tr.listing:hover {
    background-color: #c1d3e5;
}

.input {
    width: 500px
}

.header {
     font-size: 20px;
     font-weight: bold;
 }

.headerContrast {
    font-size: 20px;
    font-weight: bold;
    background-color: #992992;
}

a:link {
    color: #94a2b2;
}

/* 1. level menu items */
.hMenu {
    font-family: Arial;
    font-size: 12px;
    background: #2f8be8;

}

/* Childs */
.hMenu ul {
    background: #f09d28;
}
.hMenu ul li a {
    color: #000;
}
.hMenu ul li:hover a {
    background: #ffc97c;
}

/* Menu structure */
.hMenu,
.hMenu ul {
    position: relative;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.hMenu > li {
    list-style: none;
    float: left;
    display: block;
    background-color: #bb3b00;

    border-style: solid;
    border-width: 1px;
    border-color: #872900;
    margin-right: 6px;
    width: 150px;

}
.hMenu li a {
    display: block;
    padding: 3px 8px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.hMenu > li:hover > a {
    background: #000000;
    color: #ff2300;
}

.floatingButton {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #798798;
    border-radius: 9px;
    font-size: 15px;
    font-variant-caps: #000000;
}

textarea.configure {
    height: 150px;
}

.configure {
    width: 75%;
    vertical-align: top;
}

.configureText {
    vertical-align: top;
}

.button {
    border-style: inset;
    border-width: 2px;
    line-height: 20px;
    background-color: #8aafcd;
    width: 150px;
    display: inline-block;
    border-radius: 5px;
    border-color: #99c4e4;
    text-align: center;
}

a.button:link {
    color: #000;
    text-decoration: none;
}

a.button:hover {
    background-color: #7898b5;
    border-color: #8ab3d2;
}

.enabledButton {
    background-color: #63829e;
    border-color: #6d8da9;
}


ul.navlist {
    font: bold 11px;
    text-align: center;
    vertical-align: middle;
    list-style-type: none;
    padding-bottom: 24px;
    border-bottom: 1px solid #000000;
    margin: 0;
}

ul.navlist li {
    float: left;
    height: 21px;
    background-color: #cfc;
    margin: 2px 2px 0 2px;
    border: 1px solid #6c6;
}

ul.navlist li.active {
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

li.active a { color: #000; }

.navlist a {
    float: left;
    display: block;
    color: #666;
    text-decoration: none;
    padding: 4px;
}

.navlist a:hover { background: #fff; }