body {
    background-color: #f5f2f2;

    /* margin: 0px 0px 0px 0px; */
}

table.listing {
    border-style: solid;
    border-width: 2px;
}

caption.listing {
    font-weight: bold;
    font-size: 18px;
    background-color: #172849;
    color: #a7b7c7;
}

thead.listing {
    font-weight: bold;
    font-size: 14px;
    color: #172849;
}

th.listing {
    padding-left: 10px;
    padding-right: 10px;
    color: #172849;
    border-style: solid;
    border-width: 1px;
}

td.listing {
    padding-left: 5px;
    padding-right: 5px;
}

tr.listing:hover {
    background-color: #c1d3e5;
}

.input {
    width: 500px
}

.header {
     font-size: 20px;
     font-weight: bold;
 }

.headerContrast {
    font-size: 20px;
    font-weight: bold;
    background-color: #992992;
}

a:link {
    color: #94a2b2;
}

/* 1. level menu items */
.hMenu {
    font-family: Arial;
    font-size: 12px;
    background: #2f8be8;

}

/* Childs */
.hMenu ul {
    background: #f09d28;
}
.hMenu ul li a {
    color: #000;
}
.hMenu ul li:hover a {
    background: #ffc97c;
}

/* Menu structure */
.hMenu,
.hMenu ul {
    position: relative;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 999;

    padding-left: 100px;
}

.hMenu > li {
    list-style: none;
    float: left;
    display: block;
    background-color: #bb3b00;

    border-style: solid;
    border-width: 1px;
    border-color: #872900;
}
.hMenu li a {
    display: block;
    padding: 3px 8px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.hMenu > li:hover > a {
    background: #000000;
    color: #ff2300;
}
