<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF8">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script language="javascript" type="text/javascript" src="/static/javascript/ajaxupload.js"></script>

	<script language="javascript" type="text/javascript" src="/static/javascript/utils.js"></script>

    <link rel="stylesheet" href="/theme/${theme}.css" type="text/css" media="all" />

    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />

#foreach( $js in $javascripts )
    <script language="javascript" type="text/javascript" src="/static/javascript/$js.js"></script>
#end

	<title>$title</title>
	
	<script type="text/javascript">
	
/*
$(function() {
	//$("#test").hide("slow");
	$.get('/widget/1', function(data) {
		$("#test").append( data );
	}, "html");

	$.get('/widget/3?url=$request.getRequestURI()', function(data) {
		$("#login").append( data );
	}, "html");
});
*/

$(function() {
    $( "#search" ).autocomplete({
        source: "/search/node",
        select: function( event, ui ) {
            this.value = ui.item.title;
            return false;
        }
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
        return $( "<li>" )
                .append( "<a>" + item.title + ", " + item.type + "</a>" )
                .appendTo( ul );
    };
});

</script>

</head>

<body>

<img src="/theme/logo.png">

<table style="width: 100%">

    <tr>
        <td align="center">
            #render($core.getMainMenu() "mainMenu")

        </td>
        <td style="width: 250px" align="right" class="ui-widget">
            <input id="search">
        </td>

    </tr>
</table>


<table style="width:100%">


    <tr>
		<td valign="top" style="border-style:solid;border-width:1px;border-color:#000000;width:180px">

		</td>
		
		<td valign="top" rowspan="2" style="border-style:solid;border-width:1px;border-color:#000000">
			<div align="center">$content</div>
        </td>

	</tr>

	<tr>
		<td valign="top" style="border-style:solid;border-width:1px;border-color:#000000;width:180px">
			<div id="login"></div>
		</td>

	</tr>


</table>

</body>

</html>