<div style="overflow-x: scroll; border-style: none; overflow: hidden" id="imageWrapper$item.getIdentifier()">

</div>

<script type="text/javascript">


    $(function(){
        #foreach($id in $item.getImageIds())
        
            //Utils.fetchImage('$id', '#imageWrapper$item.getIdentifier()');
            Utils.fetchResourceViewAppend('$id', '#imageWrapper$item.getIdentifier()', 'avatar'); 
            //$('#imageWrapper$item.getIdentifier()').append('<img src="/resource/$id/file" style="width:100px"></img>');
        #end
    });
</script>