#headerBlock($definition)

#menuBlock($item)

<form action="result" method="get" id="queryForm">
    <input name="query" id="query" type="text" style="width: 80%"><br>
    <input type="submit" value="Search">
</form>

<div id="container">
</div>

<div id="more" style="width:100%; border-style:solid">
	More
</div>

<script>
	var search = new Search('#queryForm', '#query');
	
</script>

#footerBlock()