#headerBlock($definition)

#menuBlock($item)

<form action="result" method="get" id="queryForm">
    <input name="query" id="query" type="text" style="width: 80%">
</form>

<div id="container">
</div>

<script>
	$('#queryForm').submit(function(event) {
		
	});
</script>

#footerBlock()