The skill <a href="/skill/get/$item.getSkill().getDisplayName()/">$item.getSkill().getDisplayName()</a> for <a href="/resource/$item.getProfile().getIdentifier()/">$item.getProfile().getDisplayName()</a> <br/>

<div id="validators">

</div>



<script type="text/javascript">

    $(function() {
        $.ajax({
            type: "GET",
            url: "list",
            success: function(data, textStatus, jqxhr){$('#validators').html(data)},
            error: function(ajax, text, error) {alert(error)}
        });
    });

</script>