<div id="validations" style="width: 100%">
    #foreach($validation in $item.getValidations())
    <div class="boxed">
        <span class="header">$validation.getProfile().getDisplayName()</span>
        <br/>
        $dateUtils.getDateString($validation.getDate())
    </div>
    #end
</div>

