#macro(singleDynamicInput $title $nameSpace $url $selected)
<tr>
    <td>
        $title
    </td>
    <td style="text-align: left">
        <div class="ui-widget">
            <input id="${nameSpace}Input">
        </div>


        <div id="${nameSpace}Container" style="text-align: center">
            #if($selected)
                <div class="targetNode" id="${nameSpace}Container}"><div name="${nameSpace}" class="targetValue" style="display: none">$selected.getIdentifier()</div>$selected.getDisplayName()</div>
            #end
        </div>

        <script type="text/javascript">
            Utils.selectElement("$url", "${nameSpace}", "${nameSpace}Container", "${nameSpace}Input")

            #set($containerId = ${nameSpace} + "Container")
            $('#${containerId}').on('click', 'div', function(e) {
                $(this).remove()
            })
        </script>
    </td>
</tr>

#end

#macro(multipleDynamicInput $title $namespace $url $selected)

<tr>
    <td>
        $title
    </td>

    <td>
        <div class="ui-widget">
            <input id="${namespace}Input">
        </div>


        <div id="${namespace}Container">
            #foreach($i in $selected)
                <div class="targetNode" id="${namespace}Container}"><div name="${namespace}" class="targetValue" style="display: none">$i.getIdentifier()</div>$i</div>
            #end
        </div>

        <script type="text/javascript">
            Utils.selectElements("$url", "${namespace}", "${namespace}Container", "${namespace}Input")

            #set($containerId = ${namespace} + "Container")
            $('#${containerId}').on('click', 'div', function(e) {
                $(this).remove()
            })
        </script>
    </td>
</tr>

#end