#set($fromDate = $item.getFromDateString())
#set($toDate = $item.getToDateString())

<tr>
    <td>
        Date
    </td>
    <td>
        <input type="text" id="datepickerFrom" name="eventFromDate" class="targetValue" value="$fromDate">
        #timePicker("eventFromTime")
        to
        <input type="text" id="datepickerTo" name="eventToDate" class="targetValue" value="$toDate">
        #timePicker("eventToTime")
        <br>
        All day event <input type="checkbox" name="eventAllDay">
    </td>
</tr>

<tr>
    <td>
        Duration
    </td>

    <td>

    </td>

</tr>


<script type="text/javascript">
    $(function(){
        $.datepicker.setDefaults(
                $.extend($.datepicker.regional[''])
        );
        $('#datepickerFrom').datepicker({
            dateFormat: "yy-mm-dd"
        });
        $('#datepickerTo').datepicker({
            dateFormat: "yy-mm-dd"
        });
    });
</script>


