<tr>
    <td>
<div class="ui-widget">
    <input id="readInput">
</div>

<div name="access" class="targetObject">
    Readers:
    <div id="readContainer">
        #foreach($i in $item.getAuthorized('READ'))
            <div class="targetNode" id="readContainer"><div name="read" class="targetValue" style="display: none">$i.getIdentifier()</div>$i</div>
        #end
    </div>
</div>

<script type="text/javascript">
    Utils.selectElements("getAuthorizable", "read", "readContainer", "readInput")

    $('#readContainer').on('click', 'div', function(e) {
        $(this).remove()
    })
</script>
    </td>
</tr>
