MUMS

<div class="ui-widget">
    <input id="readInput">
</div>

<div name="access" class="objects" style="border-style: solid; min-height: 100px">
    Readers:
    <div id="readContainer">
        <div class="targetNode" id="moderateContainer' + ui.item._id + '"><div name="moderate" class="targetValue" style="display: none">' + ui.item._id + '</div>' + ui.item.title + '</div>
    </div>
</div>

<script type="text/javascript">
    Utils.selectElements("$item.getUrl()getAuthorizable", "read", "readContainer", "readInput")
</script>
</div>
