<html>

<head>
    <title>SNADE</title>
</head>

<body>
BAM!

<table>
    <thead class="header">
    <tr>
        <td>
            Skills
        </td>
    </tr>

    </thead>
    #foreach($c in $item.getSkills(0,10))
        <tr>
            <td>
                $c
            </td>
        </tr>
    #end
</table>

</body>
</html>