
<a href="$item.getUrl()" class="button">Profile</a>

<table style="width: 100%">
    <tr>
        <td style="width:250px; vertical-align: top">
            <a href="#" id="opener">
            $item.getDisplayName()<br/>
            <img src="$item.getPortrait()">
            </a>
        </td>

        <td id="skills">

        </td>
    </tr>
</table>

<div id="dialog" title="Select profile portrait" style="width:500px">
    #set( $up = $item.getPortraitExtension() )
    #singleExtensionConfiguration( "org.seventyeight.web.extensions.UserPortrait" $up "setPortrait" )
</div>

<script type="text/javascript">

    $(function() {
        $( "#dialog" ).dialog({ autoOpen: false, width: 700 });
        $( "#opener" ).click(function() {
            $( "#dialog" ).dialog( "open" );
        });
    });

    $(function() {
        $.ajax({
            type: "GET",
            url: "skills/list",
            success: function(data, textStatus, jqxhr){$('#skills').html("SNADE:" + data)},
            error: function(ajax, text, error) {alert(error)}
        });
    });
</script>


