
<div style="width: 100%">
#set($currentYear = 3000)
#foreach($e in $item.getExperience())
    #if($e.getDate().getYear() < $currentYear)
        #set($currentYear = $e.getDate().getYear())
        <h2>$currentYear</h2>
    #end
    <div class="boxed">
        #if($e.getDate())
            $e.getDate().monthOfYear().getAsText() $e.getDate().getDayOfMonth(),
        #else
            No date,
        #end
        <a href="$e.getUrl()">$e.getDisplayName()</a><br/>
        $e.getType()
    </div>
#end
</div>