
<table style="width: 100%">
    <tr>
        <td>
            $item.getDisplayName()
        </td>

        <td>


            <table id="certlist">
                <thead class="header">
                    <tr>
                      <td>
                          Certificates
                      </td>
                    </tr>

                </thead>
                #foreach($c in $item.getCertificates(0,10))
                    <tr>
                        <td style="font-size: 18px; background-color: #998223; font-weight: bold">
                            $c.getCertificate().getDisplayName()
                        </td>
                        <td>
#if($request.isAuthenticated() && !$request.isUser($item))
    <a href="certificate/$c.getDisplayName()/validate">validate</a>
#end
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #set($v = false)
                            #set($v = $c.getLastValidation())
                            #if($v)
                                Last validated by $v.getProfile().getDisplayName(), $dateUtils.getDateString($v.getDate()) ago
                            #else
                                Never validated
                            #end
                        </td>
                    </tr>
                #end
            </table>

#if($request.isUser($item) )
            <input name="certificateTitle" type="text" id="addcert" onkeypress="submitCert(event);">
            <button id="submitCert" onclick="sendCert()">Send</button>
#end

        </td>
    </tr>
</table>

<script type="text/javascript">
function sendCert() {
    d = $("#addcert").val();
    $.ajax({
            type: "POST",
            url: "addCertificate",
            data: $("#addcert").serialize(),
            //success: addCert($("#addcert").val()),
            success: function(){addCert($("#addcert").val())},
            error: function(ajax, text, error) {alert(error)}
    });

}

function submitCert(e)
{
    e = e || window.event;
    if ($("#addcert").is(":focus") && e.keyCode == 13)
    {
        $('#submitCert').click();
    }
}

function addCert( cert) {
    $('#certlist tr:last').after('<tr><td>' +  cert + '</td></tr>');
}
</script>


<img src="$item.getPortrait()">