
<table style="width: 100%">
    <tr>
        <td>
            $item.getDisplayName()
        </td>

        <td>


            <table id="certlist">
                <thead class="header">
                    <tr>
                      <td>
                          Certificates
                      </td>
                    </tr>

                </thead>
                #foreach($c in $item.getCertificates(0,10))
                    <tr>
                        <td>
                            $c
                        </td>
                    </tr>
                #end
            </table>

            <input name="certificateTitle" type="text" id="addcert">
            <button onclick="sendCert()">Send</button>

        </td>
    </tr>
</table>

<script type="text/javascript">
function sendCert() {
    d = $("#addcert").val();
    $.get( "addCertificate", d).success(addCert(d));

}

function addCert( cert) {
    $('#certlist tr:last').after('<tr><td>' +  cert + '</td></tr>');
}
</script>


<img src="$item.getPortrait()">