COMPANIES

<div id="companies">

</div>

<table>

    <tr id="bottom">
        <td colspan="2">

        </td>
    </tr>

</table>


<script type="text/javascript">

    $(function() {
        $.ajax({
            type: "GET",
            url: "companies/list",
            success: function(data, textStatus, jqxhr){$('#companies').html(data)},
            //success: function(data, textStatus, jqxhr){populate(eval(data));},
            error: function(ajax, text, error) {alert(error)}
        });
    });

    function populate(data) {
        for( i = 0 ; i < data.length ; i++ ) {
            //$('<tr><td id="node' + (i) + '">' + data[i].document.badge + '</td></tr>').hide().insertBefore("#companies").fadeIn(600);
            $('<div id="node' + (i) + '" style="text-align:left">' + data[i].document.companyTitle + '<br/>' +
                    'From: ' + data[i].document.fromYear + ' '  + data[i].document.fromMonth +
                    '<br/>To: ' + data[i].document.toYear + ' ' + data[i].document.toMonth + ' </div>').hide().insertBefore("#companies").fadeIn(600);
        }
    }

    $(function() {
        $( "#search" ).autocomplete({
            source: "/company/search",
            select: function( event, ui ) {
                this.value = ui.item.first;
                $("#identifier").val(ui.item.second);
                return false;
            }
        }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li>" )
                    .append( "<a>" + item.first + ", " + item.second + "</a>" )
                    .appendTo( ul );
        };
    });
</script>

ADD COMPANY

<br />

<form action="companies/add" method="post">
    <div style="text-align: left; width: 500px">
        Company<br>
        <div class="ui-widget">
            <input name="companyTitle" id="search"><input id="identifier">
        </div>

        Position title:<br>
        <input type="text" name="positionTitle" style="width: 100%">

        <table>
            <tr>
                <td colspan="4">
                    Time period
                </td>
            </tr>

            <tr>
                <td>
                    From
                </td>
                <td>
                    #monthSelect("fromMonth")
                </td>
                <td>
                    #yearSelect("fromYear")
                </td>
                <td>

                </td>
            </tr>

            <tr>
                <td>
                    To
                </td>
                <td>
                    #monthSelect("toMonth")
                </td>
                <td>
                    #yearSelect("toYear")
                </td>
                <td>
                    <input type="checkbox" name="currentPosition" onclick="Utils.disableOnChecked(this, ['toMonth', 'toYear'])">
                </td>
            </tr>

        </table>

        <input type="submit" value="Add">

    </div>

</form>