
<form action="$searchUrl">
<select name="type">
#foreach( $type in $item.getResourceTypes() )
	<option value="$type.getType()">$type.getDisplayName()</option>
#end
</select>

<input type="submit" value="Search">
</form>

ITEM: $item

<form action="$searchUrl" method="post" name="resourceList" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" onsubmit="Utils.addJsonElement( this );">

<div title="config">

<input type="hidden" name="class" value="$class">

<div title="collection">

<table style="width:85%;border-collapse:collapse">
<tr>
	<td style="width:5%;text-align:center">ID</td>
#if( $item.isSelectable() )
	<td style="width:10%;text-align:center">Select</td>
#end
	<td style="width:45%">Title</td>
	<td style="width:10%">Type</td>
	<td style="width:15%">Created</td>
	<td style="width:15%">Modified</td>
</tr>


#foreach( $it in $item )
<tr>
	<td style="text-align:center">$it.getIdentifier()</td>
	
#if( $item.isSelectable() )

#set( $checked = "" )
#if( $item.isResourceSelected($it) )
#set( $checked = "checked" )
#end

		<td style="text-align:center"><input type="checkbox" name="$it.getIdentifier()" value="$it" $checked></td>
#end
		<td>$it.getDisplayName()</td>
		<td>$it.getDescriptor().getType()</td>
		<td>$it.getCreatedAsDate()</td>
		<td>$it.getUpdatedAsDate()</td>
	</tr>
#end

</table>

</div>

</div>

<input type="submit">

</form>