<form action="create" method="post" id="create" name="configure" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">

    <table style="width: 100%">
        <tr>
            <td>Title</td>
            <td><input type="text" name="title" class="configure"></td>
        </tr>

        <tr>
            <td>HEJA NORGE</td>
            <td>
            #renderDescriptor( $item )
            </td>
        </tr>

        <tr>
            <td colspan="2" align="center"><input type="submit" value="Save"></td>
        </tr>
    </table>

</form>