#headerBlock($definition)

#menuBlock($item)

<h1>New $item.getDisplayName()</h1>

<form action="/" method="post" id="create" name="configure">

    <table style="width: 100%">
        <tr>
            <td>Title</td>
            <td><input type="text" name="title" class="configure"></td>
        </tr>

        #renderDescriptor( $item )

        <tr>
            <td colspan="2" align="center"><input type="submit" value="Save"></td>
        </tr>
    </table>

</form>

<script type="text/javascript">

	$('#create').submit(function(event) {
		//var json = Utils.getJsonElement(event.target);
		//Utils.addJsonElement(event.target);
		var j = Utils.getJsonElement(event.target);
		alert("1");
		submitForm(j);
        alert("2");

		return false;
	});
	
	function submitForm(j) {
	alert(JSON.stringify(j));
        $.ajax({
            type: "POST",
            url: 'create',
            data: JSON.stringify(j),
            contentType:"application/json; charset=utf-8",
  			dataType:"json",
            success: function(data, textStatus, jqxhr){
                alert("Yay");
            },
            error: function(ajax, text, error) {"HEJ;"+ alert(error); }
        });
    }
</script>

#footerBlock()