#set($partList = $context.getContributingViews($request.getLocale()))
#if(!$partList.isEmpty())
    <ul class="navlist">
    #foreach( $part in $partList )
        #if($part)
            #set($view = $part.getView())
            #set($title = $part.getTitle())
            #if( $view.equals( $context.getActivePartition($request).getView()) )
                <li><a href="$context.getUrl()?part=$view" class="active">$title</a></li>
            #else
                <li><a href="$context.getUrl()?part=$view">$title</a></li>
            #end
        #else
            <li><a href="$context.getUrl()?part=view">Main</a></li>
        #end
    #end
    </ul>
#end