<div name="config" style="width:100%" id="$class">
    <span style="font-weight: bold; text-align: center; width: 90%" class="button">CLASS= $class</span>
    <input type="hidden" name="class" value="$class" />
    <input type="hidden" name="locked" value="$locked" />
    <table style="width:100%">
        $configuration
    </table>
</div>
