<div name="config" style="width:100%" id="$class">
    CLASS= $class
    <input type="hidden" name="class" value="$class" />
    <input type="hidden" name="locked" value="$locked" />
    <table style="width:100%">
        $content
    </table>
</div>
