<table style="width:100%;border-collapse: collapse;">
    <tr>
        <td style="width:100%">
            <!-- <a href="/db/browse/resource/$item.getIdentifier()">Browse</a> -->
        </td>
    </tr>

    <tr>
        <td style="width:100%">
            #render( $item "view" )
        </td>
    </tr>

    <tr>
        <td style="width:100%">
            BOOM
            <div style="width: 100%" align="center">

                ---- $item.getActions() ----
                #foreach( $action in $item.getActions() )
                    #render( $action "bottom" )
                #end

                <!--
                #foreach( $view in $item.getContributingViews( "bottom.vm", $theme ) )
                    #render( $view "bottom" )
                #end
                -->
            </div>
        </td>
    </tr>

</table>