
<div class="ui-widget" style="width: 100%">
    <input id="concertInput">
</div>

<div id="container">

</div>

<script type="text/javascript">

    var ids = [
    #foreach($id in $item.getEventIds(0, 1000))
    	'$id' #if( $foreach.hasNext ), #end
    #end
    ];
    Utils.resourceListHandler('container', 'concertInput', '/concert/getConcerts', '', 'concert', ids);

</script>