#macro( textField $name $title $default )
<tr>
    <td>
        $title
    </td>

    <td>
        <input name="$name" type="text" style="" class="input" value="$default">
    </td>
</tr>
#end

#macro( textarea $name $title $default )
<tr>
    <td>
       $title
    </td>

    <td>
        <textarea name="$name" style="resize:vertical;height:200px" class="input">$default</textarea>
    </td>
</tr>
#end

#macro( resourceConfiguration $item )
    #renderDescriptor( $item.getDescriptor() $item )
#end

#macro( resourcAccessConfiguration $node $name )
    READ: $node.getAuthorizable("READ")
    <select name="$name" multiple="multiple">
        <option name="g1">GROURUOR</option>
    </select>
#end

#macro(test $searchUrl $group $subGroup $containerId)

    <script type="text/javascript">

        $(function() {
            $( "#groups" ).autocomplete({
                source: "$searchUrl",
                select: function( event, ui ) {
                    //this.value = ui.item.title;
                    this.value = "";
                    $('#$containerId').append('<div class="targetNode" id="node' + ui.item._id + '"><div name="$subGroup" class="targetValue" style="display: none">' + ui.item._id + '</div>' + ui.item.title + '</div>');
                    $('#node' + ui.item._id).click(function() {
                        //alert("c: " + ui.item._id);
                        //this.hide();
                        $('#node' + ui.item._id).hide();
                        //jQuery.data($('#node' + ui.item._id), "foo", "bar" );
                    });
                    return false;
                }
            }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                        .append( "<a>" + item.title + ", " + item.type + "</a>" )
                        .appendTo( ul );
            };


        });
    </script>

    <div class="ui-widget">
        <input id="input$containerId">
    </div>
#end

#macro( configureExtensions $extensionClass $item )

    #set( $descriptors = $core.getExtensionDescriptors( $extensionClass ) )
    $descriptors
    <tr>
        <td colspan="2" align="center" style="font-weight: bold; text-decoration: underline">
            #i18n( $extensionClass )
        </td>
    </tr>
    <tr>
        <td style="border-style: solid; width: 100%" colspan="2">
            <div title="extensionClass" style="width:100%">
                <input type="hidden" name="class" value="$extensionClass.getName()" />
                #foreach( $descriptor in $descriptors )
                    <!-- <input type="checkbox" name="yeah" onclick="Utils.toggleFormElement( '$descriptor.getId()' );"> -->
                    <input type="checkbox" name="$descriptor.getId()" onchange="Utils.toggleFormElement( '$descriptor.getId()' );">
                    $descriptor.getDisplayName()
                    <table style="width: 100%">
                        #renderDescriptor( $descriptor $item )
                    </table>

                #end
            </div>
        </td>
    </tr>
#end

#macro( singleExtensionConfiguration $extensionClass $currentConfiguration $url )
    #set( $descriptors = $core.getExtensionDescriptors( $extensionClass ) )

    CURRENT: $currentConfiguration

    <table>

        <tr>
            <td>
                #foreach( $descriptor in $descriptors )
                    <button onclick="changeConfiguration('$descriptor.getExtensionName()')">$descriptor.getDisplayName()</button><br/>
                #end
            </td>

            <td id="singleConfiguration">
                <form action="$url" method="post" id="configure" name="configure" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" onsubmit="Utils.addJsonElement( this );">

                        <table>
                            #foreach( $descriptor in $descriptors )
                                #set( $same = $currentConfiguration.getDescriptor().equals( $descriptor ) )
                                #set( $displayed = "display: none" )
                                #if( $same )
                                    #set( $displayed = "" )
                                #end
                            <tr>
                                <td colspan="2">
                                    <div id="singleExtensionConfig-$descriptor.getExtensionName()" style="$displayed">
                                        #if( $same )
                                            $descriptor.getConfigurationPage( $request, $currentConfiguration )
                                        #else
                                            $descriptor.getConfigurationPage( $request )
                                        #end
                                    </div>
                                </td>
                            </tr>
                            #end

                            <tr><td colspan="2" align="center"><input type="submit" value="OK"></td></tr>
                        </table>
                </form>
            </td>
        </tr>

    </table>

<script type="text/javascript">
    function changeConfiguration( d ) {
        var last = $('#singleConfiguration').attr('last');
        if( last != undefined ) {
            $('#'+last).hide();
        }

        $('#singleExtensionConfig-'+d).show();
        $('#singleConfiguration').attr('last', 'singleExtensionConfig-'+d );
    }
</script>
#end

#macro( dropdownExtensions $extensionClass $item )

    #set( $descriptors = $core.getExtensionDescriptors( $extensionClass ) )
    $descriptors
    <tr>
        <td colspan="2" align="center" style="font-weight: bold; text-decoration: underline">
            #i18n( $extensionClass )
        </td>
    </tr>
    <tr>
        <td style="border-style: solid; width: 100%" colspan="2">
            <div title="extensionClass" style="width:100%">
                <input type="hidden" name="class" value="$extensionClass.getName()" />

                <div style="width:100%" id="target-$extensionClass.getName()">

                </div>

                <select id="dd-$extensionClass.getName()">
                    #foreach( $descriptor in $descriptors )
                        <option value="$descriptor.getDisplayName()">$descriptor.getDisplayName()</option>
                    #end
                </select>
                <button onclick="$('#' + Utils.jqEscape( 'target-$extensionClass.getName()' ) ).append( $('#' + Utils.jqEscape( 'dd-$extensionClass.getName()' ) ).val() + '<br />' ); return false;">Add</button>

            </div>
        </td>
    </tr>
#end

#macro( heteroRadio $item $descriptors $name $divGroupId $doRender )
    $descriptors

    #set( $size = $descriptors.size() + 1 )
    #set( $enabledExtension = $null)

    <tr>
        <td style="width: 100% ">
            #foreach( $descriptor in $descriptors )
                <table style="border-style: solid; width: 100%;">
                    <tr>
                        <td valign="top" class="${divGroupId}Header" id="$descriptor.getClazz().getName()Header" style="display: block; cursor:pointer" onclick="toggleDescriptors$divGroupId('$descriptor.getClazz().getName()');">
                            $descriptor.getDisplayName()
                        </td>
                        </tr>
                    #if( $doRender )
                        <tr>
                            <td>
                                <div name="config" class="targetObject" id="$descriptor.getClazz().getName()$divGroupId">
                                    #renderDescriptor( $descriptor $item $divGroupId )
                                </div>
                            </td>
                        </tr>
                        #if($item.hasExtension($descriptor))
                            HEJ $descriptor
                            #set($enabledExtension = $descriptor.getClazz().getName())
                        #end
                    #else

                    #end


                </table>
                <br>
            #end
        </td>
    </tr>

    <script type="text/javascript">
        #if($enabledExtension)
            toggleDescriptors$divGroupId('$enabledExtension');
            //jQuery(".$enabledExtension").attr('checked', 'checked');
        #else
        toggleDescriptors$divGroupId('');
        #end


        function toggleDescriptors$divGroupId(d) {
            var id = "#" + d.replace(/\./g,'\\.');
            //$('#.descriptorPage').not($(id)).hide();
            $(".descriptorPage.${divGroupId}").not($(id)).hide();
            $(".descriptorPage.${divGroupId}").not($(id)).addClass("disabledTarget");
            $(id).show();
            $(id).removeClass("disabledTarget");

            $(".${divGroupId}Header").not($(id + "Header")).removeClass("activeConfigurationHeader");
            $(".${divGroupId}Header").not($(id + "Header")).addClass("inactiveConfigurationHeader");
            $(id+"Header").addClass("activeConfigurationHeader");
            $(id+"Header").removeClass("inactiveConfigurationHeader");
        }
    </script>
#end


#macro( heteroCheckbox $item $descriptors $name $divGroupId $doRender )
    $descriptors

    #set( $size = $descriptors.size() + 1 )
    #set($extensions = [])

<tr>
    <td style="width: 100% ">
        #foreach( $descriptor in $descriptors )
            #if($descriptor.isApplicable($item))
                <table style="border-style: solid; width: 100%;">
                    <tr>
                        <td valign="top" class="${divGroupId}Header" id="$descriptor.getClazz().getName()Header" style="display: block; cursor:pointer" onclick="toggleDescriptors$divGroupId('$descriptor.getClazz().getName()');">
                            $descriptor.getDisplayName()
                        </td>
                    </tr>
                    #if( $doRender )
                        <tr>
                            <td>
                                <div name="config" class="targetObject" id="$descriptor.getClazz().getName()$divGroupId">
                                    #renderDescriptor( $descriptor $item $divGroupId )
                                </div>
                            </td>
                        </tr>

ITEM=$item
                        #if($item.hasExtension($descriptor))
                            $extensions.add($descriptor.getClazz().getName())
                        #end
                    #else

                    #end


                </table>
                <br>
            #end
        #end
    </td>
</tr>



<script type="text/javascript">

    #foreach($e in $extensions)
    toggleDescriptors$divGroupId('$e', true);
    #end

    function toggleDescriptors$divGroupId(d, enable) {

        var id = "#" + d.replace(/\./g,'\\.');
        var enabled = enable === undefined ? $(id).is(":visible") : !enable;
        //$('#.descriptorPage').not($(id)).hide();
        if(enabled) {
            $($(id)).hide();
            $(id).addClass("disabledTarget");

            //$(".${divGroupId}Header").not($(id + "Header")).removeClass("activeConfigurationHeader");
            $(id+"Header").removeClass("activeConfigurationHeader");
            $(id+"Header").addClass("inactiveConfigurationHeader");
        } else {
            $(id).show();
            $(id).removeClass("disabledTarget");
            $(id+"Header").removeClass("inactiveConfigurationHeader");
            $(id+"Header").addClass("activeConfigurationHeader");
        }

        /*
        $(".${divGroupId}Header").not($(id + "Header")).removeClass("activeConfigurationHeader");
        $(".${divGroupId}Header").not($(id + "Header")).addClass("inactiveConfigurationHeader");
        */

    }
</script>
#end


#macro( descriptorConfiguration $descriptor )
    <table>

        <tr>
            <td>

                <form action="configurationSubmit" method="post" id="configure" name="configure" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" onsubmit="Utils.addJsonElement( this );return false;">

                    <table>


                        <tr>
                            <td colspan="2" align="center" style="font-size: 18px;font-weight: bold">Configuring global $descriptor.getDisplayName()</td>
                        </tr>

                        #render( $descriptor "global" false $descriptor.getClazz() )

                        <tr>
                            <td colspan="2">
                                <input type="submit" value="save">
                            </td>
                        </tr>

                    </table>
                </form>
            </td>
        </tr>
    </table>
#end


#macro(monthSelect $name $default)
    #set($months = {1: "January", 2: "February", 3: "March", 4: "April", 5: "May", 6: "June", 7: "July", 8: "August", 9: "September", 10: "October", 11: "Novemeber", 12: "December"})
    <select name="$name">
        #foreach($key in $months.keySet())
            #if($key.equals($default) or $months.get($key).equals($default))
                <option value="$key" selected>$months.get($key)</option>
            #else
                <option value="$key">$months.get($key)</option>
            #end

        #end

    </select>
#end

#macro(yearSelect $name $default)
    <input type="text" name="$name" value="$!default" maxlength="4" onchange="Utils.onChangeYear(this);">
#end


#macro(listHandler)
<div id="concertList">
    #foreach($r in $item.getEvents())
        <table style="width: 100%; min-width: inherit; margin-top: 15px">
            <tr>
                <td style="text-align: center;" colspan="">
                    #render($r "wide" true "" "" true)
                </td>

            </tr>

        </table>
    #end
</div>

ADD
<table>
    <tr>
        <td>
            Event
        </td>
        <td style="text-align: left">
            <div class="ui-widget">
                <input id="concertInput">
            </div>


            <script type="text/javascript">
                /*
                                $('#venueContainer').on('click', 'div', function(e) {
                                    $(this).remove()
                                })*/
            </script>
        </td>
    </tr>
</table>

#end
