#macro( textField $name $title $default )
<tr>
    <td>
        $title
    </td>

    <td>
        <input name="$name" type="text" style="" class="input" value="$default">
    </td>
</tr>
#end

#macro( textarea $name $title $default )
<tr>
    <td>
       $title
    </td>

    <td>
        <textarea name="$name" style="resize:vertical;height:200px" class="input">$default</textarea>
    </td>
</tr>
#end

#macro( resourceConfiguration $item )
    #renderDescriptor( $item.getDescriptor() $item )
#end

#macro( resourcAccessConfiguration $resource $name )
    <select name="$name" multiple="multiple">
        <option name="g1">GROURUOR</option>
    </select>
#end

#macro( configureExtensions $extensionClass $item )

    #set( $descriptors = $core.getExtensionDescriptors( $extensionClass ) )
    $descriptors
    <tr>
        <td colspan="2" align="center" style="font-weight: bold; text-decoration: underline">
            #i18n( $extensionClass )
        </td>
    </tr>
    <tr>
        <td style="border-style: solid; width: 100%" colspan="2">
            <div title="extensionClass" style="width:100%">
                <input type="hidden" name="class" value="$extensionClass.getName()" />
                #foreach( $descriptor in $descriptors )
                    <!-- <input type="checkbox" name="yeah" onclick="Utils.toggleFormElement( '$descriptor.getId()' );"> -->
                    <input type="checkbox" name="$descriptor.getId()" onchange="Utils.toggleFormElement( '$descriptor.getId()' );">
                    $descriptor.getDisplayName()
                    <table style="width: 100%">
                        #renderDescriptor( $descriptor $item )
                    </table>

                #end
            </div>
        </td>
    </tr>
#end

#macro( singleExtensionConfiguration $extensionClass $currentConfiguration $url )
    #set( $descriptors = $core.getExtensionDescriptors( $extensionClass ) )

    CURRENT: $currentConfiguration

    <table>

        <tr>
            <td>
                #foreach( $descriptor in $descriptors )
                    <button onclick="changeConfiguration('$descriptor.getExtensionName()')">$descriptor.getDisplayName()</button><br/>
                #end
            </td>

            <td id="singleConfiguration">
                <form action="$url" method="post" id="configure" name="configure" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" onsubmit="Utils.addJsonElement( this );">

                        <table>
                            #foreach( $descriptor in $descriptors )
                                #set( $same = $currentConfiguration.getDescriptor().equals( $descriptor ) )
                                #set( $displayed = "display: none" )
                                #if( $same )
                                    #set( $displayed = "" )
                                #end
                            <tr>
                                <td colspan="2">
                                    <div id="singleExtensionConfig-$descriptor.getExtensionName()" style="$displayed">
                                        #if( $same )
                                            $descriptor.getConfigurationPage( $request, $currentConfiguration )
                                        #else
                                            $descriptor.getConfigurationPage( $request )
                                        #end
                                    </div>
                                </td>
                            </tr>
                            #end

                            <tr><td colspan="2" align="center"><input type="submit" value="OK"></td></tr>
                        </table>
                </form>
            </td>
        </tr>

    </table>

<script type="text/javascript">
    function changeConfiguration( d ) {
        var last = $('#singleConfiguration').attr('last');
        if( last != undefined ) {
            $('#'+last).hide();
        }

        $('#singleExtensionConfig-'+d).show();
        $('#singleConfiguration').attr('last', 'singleExtensionConfig-'+d );
    }
</script>
#end

#macro( dropdownExtensions $extensionClass $item )

    #set( $descriptors = $core.getExtensionDescriptors( $extensionClass ) )
    $descriptors
    <tr>
        <td colspan="2" align="center" style="font-weight: bold; text-decoration: underline">
            #i18n( $extensionClass )
        </td>
    </tr>
    <tr>
        <td style="border-style: solid; width: 100%" colspan="2">
            <div title="extensionClass" style="width:100%">
                <input type="hidden" name="class" value="$extensionClass.getName()" />

                <div style="width:100%" id="target-$extensionClass.getName()">

                </div>

                <select id="dd-$extensionClass.getName()">
                    #foreach( $descriptor in $descriptors )
                        <option value="$descriptor.getDisplayName()">$descriptor.getDisplayName()</option>
                    #end
                </select>
                <button onclick="$('#' + Utils.jqEscape( 'target-$extensionClass.getName()' ) ).append( $('#' + Utils.jqEscape( 'dd-$extensionClass.getName()' ) ).val() + '<br />' ); return false;">Add</button>

            </div>
        </td>
    </tr>
#end

#macro( heteroRadio $item $descriptors $name $doRender )
    ITEM= $item<br>
    $descriptors

    #set( $size = $descriptors.size() + 1 )

    <tr>
        <td style="width: 100%">
            #foreach( $descriptor in $descriptors )
                <table style="border-style: solid; width: 100%;" colspan="2">
                    <tr>
                        <td rowspan="$size" valign="top">
                            <input type="radio" name="$name" value="$descriptor.getId()" onchange="Utils.toggleFormElement( '$descriptor.getClazz().getName()' );">
                        </td>
                        <td>
                            $descriptor.getDisplayName()
                        </td>
                    </tr>
                    #if( $doRender )
                        #renderDescriptor( $descriptor $item false );
                    #else

                    #end

                </table>
            #end
        </td>
    </tr>
#end


#macro( descriptorConfiguration $descriptor )
    <table>

        <tr>
            <td>

                <form action="configurationSubmit" method="post" id="configure" name="configure" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" onsubmit="Utils.addJsonElement( this );">

                    <table>


                        <tr>
                            <td colspan="2" align="center" style="font-size: 18px;font-weight: bold">Configuring global $descriptor.getDisplayName()</td>
                        </tr>

                        #render( $descriptor "global" 0 $descriptor.getClazz() )

                        <tr>
                            <td colspan="2">
                                <input type="submit" value="save">
                            </td>
                        </tr>

                    </table>
                </form>
            </td>
        </tr>
    </table>
#end