#macro(widget $name $title $containerId)
<div class="header widget" style="width: 99%;">$title</div>
<div id="widgetContainer$containerId" style="width: 100%;">

</div>

<script type="text/javascript">

    $(function() {
        $.ajax({
            type: "GET",
            url: "/widgets/get/$name/view",
            success: function(data, textStatus, jqxhr){$('#widgetContainer$containerId').html(data)},
            error: function(ajax, text, error) {alert(error)}
        });
    });

</script>
#end

#macro(menu $menu)

    <script>
        $(function() {
            $( "#mainmenu" ).menu(/*{ position: { my: "top", at: "bottom" } }*/);
        });
    </script>
<style>
    .ui-menu { width: 150px; }
</style>

    <ul id="mainmenu">
        <li><a href="#"><img src="/resource/file-2/file" style="width: 75px"></a>
            <ul>
            #foreach($key in $menu.getHeaderKeys())
                <li><a href="#">$key</a>
                    <ul>
                        #foreach($item in $menu.getMenuItems($key))
                            <li><a href="$item.getUrl()">$item.getTitle()</a></li>
                        #end
                    </ul>
                </li>
            #end
            </ul>
        </li>
    </ul>
#end

#macro(comments $resource)
<div class="headerContrast" style="width: 100%; min-width: inherit">Comments</div>
<div id="$resource.getIdentifier()-container" style="min-width: inherit">

</div>

<script type="text/javascript">

    $(function() {
        $.ajax({
            type: "GET",
            url: "/resource/$resource.getIdentifier()/getComments",
            //success: function(data, textStatus, jqxhr){$('#commentsContainer').html(data)},
            success: function(data, textStatus, jqxhr){addComments(data, '$resource.getIdentifier()')},
            error: function(ajax, text, error) {alert(error)}
        });
    });

    function addComments(data, id) {
        //var json = eval(data);
        var json = JSON.parse(data);
		var firstLevel = json[id];
        for( i = 0 ; i < firstLevel.length ; i++ ) {
        	//alert(firstLevel[i].parent);
            //$(json[i]).hide().insertBefore("#commentsContainer").fadeIn(600);
          	$("#" + firstLevel[i].document.parent + "-container").append(firstLevel[i].document.view + "<br>");
          	addSubComments(json, firstLevel[i].document._id);
        }
    }
    
    function addSubComments(json, id) {
    	var s = json[id];
    	if(s !== undefined) {
			for( i = 0 ; i < s.length ; i++ ) {
	          	$("#" + s[i].document.parent + "-container").append(s[i].document.view + "<br>");
	          	addSubComments(json, s[i].document._id);
	        }
	    }
    }

</script>
#end