#macro(widget $name $title $containerId)
<div class="headerContrast" style="width: 100%; min-width: inherit">$title</div>
<div id="widgetContainer$containerId" class="widget">

</div>

<script type="text/javascript">

    $(function() {
        $.ajax({
            type: "GET",
            url: "/widgets/get/$name/view",
            success: function(data, textStatus, jqxhr){$('#widgetContainer$containerId').html(data)},
            error: function(ajax, text, error) {alert(error)}
        });
    });

</script>
#end