<div id="uploadDiv" style="display: none; border-style: solid; background-color: #bcadea; width: 400px; height: 350px">
    <div id="fileupload">
        <form method="post" enctype="multipart/form-data" action="/upload/upload?rid=$item.getIdentifier()">
            <div class="fileupload-buttonbar">
                <label class="fileinput-button">
                    <span>Upload</span>
                    <input type="file" name="files[]" multiple>
                </label>
            </div>
        </form>
        <div class="fileupload-content">
            <table class="files"></table>
        </div>
    </div>

    <div id="uploaded">
        #foreach($f in $item.getAssociatedFiles())
            <span class="selectPortrait" data-rid="$f.get("_id")">[$f.get("title")]</span>
        #end
    </div>
</div>


ITEM: $item


<script type="text/javascript">
    $(function() {
        $('.selectPortrait').click(function(event){
            $('#portraitUploadID').val($(this).attr("data-rid"));
            $.modal.close();
        });
    })

    function addUploadedPortrait(title, rid) {
        var e = $('<span style="margin: 0"/>').text('[' + title + ']').appendTo('#uploaded');
        e.click(function(event){
            $('#portraitUploadID').val(rid);
            $.modal.close();
        });
    }

    $('#uploadPage').click(function (e) {

        $('#uploadDiv').modal({
            overlayClose:true,
            escClose: true,
            onShow: function() {
                $('#fileupload').fileupload({
                    dataType: 'json',
                    started: function() {
                        //alert("YEAH");
                    },/*
            added: function() {
                alert("ADDEDYEAH");
            },*/
                    add: function(e, data) {
                        data.files.forEach(function(e) {
                            data.context = $('<p style="margin: 0"/>').text('Uploading ' + e.name).appendTo('#uploaded');
                        });

                        var r = data.submit();
                    },
                    autoUpload: true,
                    done: function (e, data) {
                        //$("#uploaded").append(data.files[0].name);

                        //data.context.text('Upload finished.');
                        //data.result.forEach(function(e) {
                        data.context.text('Finished uploading ' + data.result.name);
                        data.context.click(function(event){
                            $('#portraitUploadID').val(data.result.rid);
                            $.modal.close();
                        });
                        //});
                        //$.modal.close();
                        //alert(data);
                        //$.each(data.result.files, function (index, file) {
                        //$('<p/>').text(file.name).appendTo("#uploaded");
                        //});
                    }
                });

            }/*
            onClose: function(dialog) {
                alert("CLOSED!");
                $.modal.close();
            }*/
        });


    });
</script>