<tr>
    <td>
        <input type="text" id="tagsInput">

    </td>
</tr>
<tr>
    <td id="tagsContainer">
#foreach($t in $item.getTags())
    <div name="tags" class="targetNode deletable targetValue">$t</div>
#end
    </td>
</tr>


<script type="text/javascript">
	var list = {};
    $('#tagsInput').keypress(function(e) {
    	var val = $(this).val();
        if(e.which == 13) {
        	if(list[val] === undefined && val.length > 0 ) {
            	$('#tagsContainer').append('<div name="tags" class="targetNode deletable targetValue">' + $(this).val() + '</div>');
            	list[val] = true;
           	}
	        $('#tagsInput').val('');
	        
	        return false;
        }
    });

    $('#tagsContainer').on('click', 'div', function(e) {
        $(this).remove()
    })
</script>