<tr>
    <td>
        <input type="text" id="tagsInput">

    </td>
</tr>
<tr>
    <td id="tagsContainer">
#foreach($t in $item.getTags())
$t<br>
#end
    </td>
</tr>


<script type="text/javascript">
    $('#tagsInput').keypress(function(e) {
        if(e.which == 13) {
            $('#tagsContainer').append('<div name="tags" class="targetNode deletable targetValue">' + $(this).val() + '</div>');
            return false;
        }
    });

    $('#tagsContainer').on('click', 'div', function(e) {
        $(this).remove()
    })
</script>