<input id="collectionQuery" type="text" style="width: 80%">

<table style="width: 100%">
    <tr id="resourceList">
        <td></td>
        <td></td>
    </tr>
</table>

<input type="button" value="More" id="moreButton" onclick="getMoreResources()">

<script type="text/javascript">
    function getMoreResources() {
        $.ajax({
            url: "search",
            type: "POST",
            data: {query:$("#collectionQuery").val()},
            success: function(data, textStatus, jqxhr){addResources(data);},
            error: function(ajax, text, error) {alert(error)}
        });
    }

    function addResources(dataList) {
        for(idx in dataList) {

            var data = dataList[idx];
            var json = eval(data);
            //$('<tr><td class="boxed" style="width:60%">' + json.document.badge + '</td><td style="width: 40%">' + printCollection(json.document.incollection) + '</td></tr>').appendTo($('#resourceList'));
            $('<tr><td class="boxed" style="width:60%">' + json.document.badge + '</td><td style="width: 40%; text-align: left">' + printCollection(json.document._id, json.document.incollection) + '</td></tr>').insertBefore($('#resourceList'));
        }
    }

    function printCollection(id, inCollection) {
        if(inCollection) {
            return '<a href="remove?id=' + id + '">YAY</a>';
        } else {
            return "<span onclick=\"addResourceToCollection('" + id + "');\">NAY</span>";
        }
    }

    function addResourceToCollection(id) {
        alert("ADDING " + id);
        $.ajax({
            url: "add",
            type: "POST",
            data: {id:id},
            success: function(data, textStatus, jqxhr){alert('Successful');},
            error: function(ajax, text, error) {alert(error)}
        });
    }
</script>