<div id="resourceList">

</div>


<div id="showDialog" title="SNADE" style="width:500px;min-height: 500px">
    Hej med dig
</div>


<script type="text/javascript">

    function getMoreResources(offset, number) {
        $.ajax({
            url: "fetch",
            type: "GET",
            data: {offset:offset, number:number},
            success: function(data, textStatus, jqxhr){addResources(data);},
            error: function(ajax, text, error) {alert(error)}
        });
    }

    function addResources(dataList) {
        var json = eval(dataList);
        for(e in json) {
            $('<div style="float:left;padding: 2px"><a href="get/' + json[e].document.counter + '">' + json[e].document.avatar + '</a></div>').insertBefore($('#resourceList'));
        }
    }

    function show(id) {
        $( "#showDialog" ).dialog( "open" );
        getResourceView(id);
    }

    function getResourceView(id) {
        $.ajax({
            url: "/resource/" + id + "/getView",
            type: "GET",
            success: function(data, textStatus, jqxhr){$( "#showDialog").html(data)},
            error: function(ajax, text, error) {alert(error)}
        });
    }

    $(function() {
        getMoreResources();
        $( "#showDialog" ).dialog({ autoOpen: false, width: 700 });
        $( ".showItem" ).click(function() {
            alert("YEAH");
            $( "#showDialog" ).dialog( "open" );
        });
    });
</script>