<tr>
    <td>
        Venue
    </td>
    <td style="text-align: left">
        <div class="ui-widget">
            <input id="venueInput">
        </div>


        <div id="venueContainer" style="text-align: center">
            #set($venue = $item.getVenue())
            #if($venue)
                <div class="targetNode" id="readContainer"><div name="venue" class="targetValue" style="display: none">$venue.getIdentifier()</div>$venue.getDisplayName()</div>
            #end
        </div>

        <script type="text/javascript">
            Utils.selectElement("/venue/getVenues", "venue", "venueContainer", "venueInput")

            $('#venueContainer').on('click', 'div', function(e) {
                $(this).remove()
            })
        </script>
    </td>
</tr>

<tr>
    <td>
        Artists
    </td>

    <td>
        <div class="ui-widget">
            <input id="artistsInput">
        </div>


            <div id="artistsContainer">
                #foreach($i in $item.getAuthorized('READ'))
                    <div class="targetNode" id="readContainer"><div name="artist" class="targetValue" style="display: none">$i.getIdentifier()</div>$i</div>
                #end
            </div>

        <script type="text/javascript">
            Utils.selectElements("/artist/getArtists", "artists", "artistsContainer", "artistsInput")

            $('#artistsContainer').on('click', 'div', function(e) {
                $(this).remove()
            })
        </script>
    </td>
</tr>
