
<div class="ui-widget" style="width: 100%">
    <input id="artistInput">
</div>

<div id="container">
    #foreach($id in $item.getArtistIds())
    	<div onclick="remove("' + id + '"))">REMOVE</div>
        <div id="$id" class="artist" style="float: left">
        Loading
        </div>
    #end
</div>

<script type="text/javascript">

    var callback = function(id){ return '<div onclick="remove("' + id + '"))">REMOVE</div><div class="newResource" id="' + id + '" style="float:left">Waiting for ' + id + '</div>' };
    //$("#container").append(callback("hej"));
    Utils.resourceListHandler('container', 'artistInput', '/artist/getArtists', 'addArtist', 'get/', 'artist', callback);

</script>