#headerBlock($definition)

#menuBlock($item)


<div style="text-align: center">
<h2>Statistics</h2>

<table>
    <tbody>
        <td>Item</td>
        <td>Document</td>
        <td>Sessions</td>
    </tbody>

    <tr>
        <td>Size:</td>
        <td colspan="2" style="text-align: center">$core.getDocumentCache().getCache().size()</td>
    </tr>

    <tr>
        <td>Misses:</td>
        <td>$core.getDocumentCache().getMisses()</td>
        <td>$core.getSessionCache().getMisses()</td>
    </tr>

    <tr>
        <td>Hits:</td>
        <td>$core.getDocumentCache().getHits()</td>
        <td>$core.getSessionCache().getHits()</td>
    </tr>

    <tr>
        <td>Writes:</td>
        <td>$core.getDocumentCache().getWrites()</td>
        <td>$core.getSessionCache().getWrites()</td>
    </tr>
</table>

<h2>Document info</h2>

#set($cache = $core.getDocumentCache().getCache())
<table>
#foreach($c in $cache)
    <tr>
        <td style="text-align: left">#render($c.get() "show")</td>
    </tr>
#end
</table>

</div>

#footerBlock()