<form action="/new/create" method="post">

    <table style="width: ; border-collapse: collapse;">

        <tr>
            <td>
                Title
                <input type="text" name="title">
            </td>
        </tr>

        #heteroRadio( "" $core.getCreatableDescriptors() "className" )

        <tr>
            <td align="center">
                <input type="submit" value="Create">
            </td>
        </tr>


    </table>

</form>
