#set($partList = $context.getPartitions())
#if(!$parts.isEmpty())
    <ul class="navlist">
        #foreach( $part in $partList )
            #set($view = $part.getViewName())
            #set($title = $part.title)
            #if( $view.equals( $context.getActivePartition($request).getViewName()) )
                <li><a href="?part=$view" class="active">$title</a></li>
            #else
                <li><a href="?part=$view">$title</a></li>
            #end

        #end

    </ul>
#end