<ul class="navlist">
    #foreach( $part in $context.getPartitions() )
        #if( $part.equals( $context.getActivePartition()) )
            <li><a href="?part=$part" class="active">$part</a></li>
        #else
            <li><a href="?part=$part">$part</a></li>
        #end

    #end

</ul>