
#set( $descriptor = $item.getDescriptor() )

<table>

    <tr>
        <td>

            <form action="configurationSubmit" method="post" id="configure" name="configure" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" onsubmit="Utils.addJsonElement( this );">

                <table>


                    <tr>
                        <td colspan="2" align="center" style="font-size: 18px;font-weight: bold">Configuring $item.getDisplayName()</td>
                    </tr>


                    <tr>
                        <td style="width:100%" colspan="2">
                            <input type="hidden" name="class" value="$descriptor.getClazz()" />
                            <table style="width:100%">
                                #if( $descriptor.inputTitle() )

                                    #set( $title = "" )
                                    #set( $title = $item.getTitle() )

                                    <tr>
                                        <td>#i18n( "Title" )</td>
                                        <td>#inputtext( "title", $title )</td>
                                    </tr>
                                #end

                                #set( $description = "" )
                                #set( $description = $item.getDescription() )

                                <tr>
                                    <td>#i18n( "Description" )</td>
                                    <td>#inputtext( "description", $description )</td>
                                </tr>

                                #set( $theme = "" )
                                #set( $theme = $item.getTheme() )

                                <tr>
                                    <td>Theme</td>
                                    <td>#themeforresource($item.getIdentifier(), "theme")</td>
                                </tr>

                                <!--
                            <tr>
                                <td>
                                    $core.getAllDescriptors()
                                </td>
                            </tr>
                            -->

                            <!--
                            <tr>
                                <td>
                                    $item<br>
                                    $descriptor
                                </td>
                            </tr>
                            -->

                            <tr>
                                <td class="header">
                                    $descriptor.getDisplayName()
                                </td>
                            </tr>
                                <tr>
                                    <td>
                                        #render( $item "config" )
                                    </td>
                                </tr>



                                #foreach( $class in $descriptor.getExtensionClasses() )
                                     #configureExtensions( $class $item )
                                #end


                                <tr>
                                    <td>Groups</td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td align="center">#i18n( "Access groups" )</td>
                                                <td align="center">#i18n( "Editor groups" )</td>
                                            </tr>

                                            <tr>
                                                <td align="center">#groupsforresource($!item.getIdentifier(), "access-group", "readAccess")</td>
                                                <td align="center">#groupsforresource($!item.getIdentifier(), "editor-group", "writeAccess")</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                #set( $classes = $descriptor.getExtensionClasses() )
                                <tr>
                                    <td>
                                        CLASSES: $classes
                                    </td>
                                </tr>
                                #foreach( $class in $i )
                                    #configureExtensions(  )
                                #end


                                <tr>
                                    <td colspan="2" align="center"><input type="submit" value="OK"></td>
                                </tr>


                            </table>
                        </td>
                    </tr>

                </table>
            </form>
        </td>

        #if( $dualSide )
            <td valign="top">
                $dualSide
            </td>

        #end
    </tr>



</table>

