
#set( $descriptor = $item.getDescriptor() )

<span align="center" style="font-size: 18px;font-weight: bold">Configuring $item.getDisplayName()</span>

<form action="configurationSubmit" method="post" id="configure" name="configure" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" onsubmit="Utils.addJsonElement( this );">

<table style="width: 100%">
    <tr>
        <!-- Menus -->
        <td style="width: 200px; text-align: center; vertical-align: top">
            <a href="#" class="button enabledButton" onclick="activate('$item.getType()-config', this)">$item.getDescriptor().getDisplayName()</a>
            <a href="#" class="button" onclick="activate('access-config', this)">Access</a>
        </td>

        <td style="width: auto; vertical-align: top">
            <div id="$item.getType()-config" style="display: block" class="configurationDiv">
                #resourceConfiguration( $item )
            </div>

            <div id="access-config" style="display: none" class="configurationDiv">
                #render( $item "accessConfig" )
            </div>
        </td>
    </tr>

    <tr>
        <td colspan="2" align="center"><input type="submit" value="Save"></td>
    </tr>
</table>

</form>


<script type="text/javascript">

    var lastConfiguration;
    var lastButton;
    function activate(id, button) {

        var e = document.getElementById(id);
        $(e).show();
        $('.configurationDiv').not("#"+id).hide();

        $('.button').not(button).removeClass('enabledButton');
        $(button).addClass('enabledButton');

    }

</script>
