<table>

    <tr>
        <td>

            <form action="configurationSubmit" method="post" id="configure" name="configure" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" onsubmit="Utils.addJsonElement( this );">

                <table>


                    <tr>
                        <td colspan="2" align="center" style="font-size: 18px;font-weight: bold">Configuring global $item.getDisplayName()</td>
                    </tr>

                    #render( $item "global" 0 $item.getClazz() )

                    <tr>
                        <td colspan="2">
                            <input type="submit" value="save">
                        </td>
                    </tr>

                </table>
            </form>
        </td>
     </tr>
</table>