<table style="width:100%;height: 100%;border-collapse: collapse">

    <tr>
        <td style="width:100px; text-align: left" class="headerContrast">
            $item.getType()
        </td>

        <td style="width:auto;padding-left:20px" class="headerContrast" align="center">
            $item.getDisplayName()
        </td>

        <td style="width:100px;text-align: right" class="headerContrast">
            Something
        </td>
    </tr>

    <tr>
        <td style="width:auto;height: 100%" colspan="2">
            #render( $item "view" )
        </td>
        <td style="text-align: center">RIGTH</td>
    </tr>

    <tr>
        <td style="width:100%;height: 100%" colspan="3">
            <div style="width: 100%;min-height: 400px" align="center">

                #foreach( $action in $item.getActions() )
                    #render( $action "bottom" )
                #end

                #foreach( $action in $item.getLayoutableHavingTemplate( "bottom.vm" ) )
                    #renderStatic( $action.getClazz() "bottom" )
                #end

                <!--
                #foreach( $view in $item.getContributingViews( "bottom.vm", $theme ) )
                    #render( $view "bottom" )
                #end
                -->
            </div>
        </td>
    </tr>

    <tr>
        <td style="width:100%;height: 100%;font-size: 9px" class="headerContrast" align="left" colspan="3">
            Created about $dateUtils.getDateString($item.getCreated()) ago
            #if($item.getRevision() > 1)
                , last updated $dateUtils.getDateString($item.getUpdated()) ago
            #end
            . Revision $item.getRevision()
        </td>
    </tr>

</table>