<table style="width:100%;height: 100%;border-collapse: collapse">

    #foreach( $action in $item.getLayoutableHavingTemplate( "top.vm" ) )
        <tr>
            <td colspan="2" class="nothing">
                #render( $action "top" false "" $item true )
            </td>
        </tr>
    #end

    <tr>
        <td style="width:auto; text-align: left" class="headerContrast" colspan="2">
            $item.getDisplayName()

            #if($item.getAuthorization($request.getUser()).canModerate())
               <div style="float: right" class="floatingButton"><a href="configure">Edit</a></div>
            #end
        </td>
    </tr>

    <tr>
        <td style="width:auto;height: 100%">
            #set($part = $item.getActivePartition($request))
            #set($view = "$part.getViewName()" )
            #render($part.getPartition() $view)
        </td>
        <td style="text-align: center; vertical-align: top">
            #foreach($action in $item.getActions())
                <div class="button">$action.getDisplayName()</div><br />
            #end
        </td>
    </tr>

    <tr>
        <td style="width:100%;height: 100%" colspan="3">
            <div style="width: 100%;min-height: 400px" align="center">

                #foreach( $action in $item.getActions() )
                    #render( $action "bottom" )
                #end

                #foreach( $action in $item.getLayoutableHavingTemplate( "bottom.vm" ) )
                    #renderStatic( $action.getClazz() "bottom" )
                #end

                <!--
                #foreach( $view in $item.getContributingViews( "bottom.vm", $theme ) )
                    #render( $view "bottom" )
                #end
                -->
            </div>
        </td>
    </tr>

    <tr>
        <td style="width:100%;height: 100%;font-size: 9px" class="headerContrast" align="left" colspan="2">
            Created about $dateUtils.getDateString($item.getCreated()) ago
            #if($item.getRevision() > 1)
                , last updated $dateUtils.getDateString($item.getUpdated()) ago
            #end
            . Revision $item.getRevision()
        </td>
    </tr>

</table>