
#foreach($r in $item.getActivities($request))
<table style="width: 100%; min-width: inherit; margin-top: 15px" class="widget">
    <tr>
        <td style="width: 100%;text-align: center; padding-left: 10px; background-color: #706693">
            $message.get($r.getStatus().name(), $dateUtils.getDateString($r.getUpdated()))
        </td>
    </tr>


    <tr>
        <td style="text-align: center;" colspan="">
            #render($r "wide" true "" "" true)
        </td>

    </tr>
</table>
#end
