<table style="width: 100%">
#foreach($r in $item.getActivities($request))
    <tr>
        <td>
            #render($r.getUser() "small", false)
            $r.getUser() $r.getType() on <a href="/resource/$r.getIdentifier()">$r.getResource().getTitle()</a>
        </td>

        <td style="width: 15%">
            $dateUtils.getDateString($r.getDate())
        </td>
    </tr>


    <tr>
        <td style="text-align: left; vertical-align: top">

        </td>

        <td style="text-align: center">
            #render($r.getResource() "avatar" true)
        </td>
    </tr>
#end
</table>