<div>
    #foreach($c in $item.getProfileCompanies())
    <div style="text-align: left; background-color: #efefef;margin-bottom: 5px; padding: 3px;border-style: solid; border-width: 1px">
        <span class="header">$c.getCompany().getTitle()</span><br/>
        <span style="font-weight: bold">$!c.getPc().get("position")</span><br/>
        $c.getPc().get("fromYear") $dateUtils.getMonthString($c.getPc().get("fromMonth"))
        #if(!$c.getPc().get("currentPosition", false))
             - $c.getPc().get("toYear") $dateUtils.getMonthString($c.getPc().get("toMonth"))
        #else
            Current position
        #end
    </div>
    #end
</div>